<div class="back-ground-image bg-dark text-white">


<div class="container ">
  <div  class="row justify-content-center">

      <!-- Movie Card 1 -->
       <!-- latest -->
        <h3>Latest Movies</h3><hr>
       <div *ngFor="let cardMovie of latestMovies" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="movie-card" >
              <img [src]="cardMovie.medium_cover_image" alt="Movie Poster" class="img-fluid movie-img">
              <div class="container">
              <p class="text-white m-0 "> {{cardMovie.title}}</p>
              <p class="text-white fp-1"> {{cardMovie.year}} </p>
            </div>

              <div class="movie-overlay">
                <p class="mt-5">{{cardMovie.rating}}</p>
                <p> {{ cardMovie.genres }} </p>
                <a class="btn btn-primary" routerLink="/watch/{{cardMovie.id}}" > watch now</a>
              </div>
          </div>
      </div>
      <!-- Movie Card 2 -->
       <!-- top rating -->
       <h3>Top Rating Movies</h3><hr>
       <div *ngFor="let cardMovie of topRatingMvies" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="movie-card" >
              <img [src]="cardMovie.medium_cover_image" alt="Movie Poster" class="img-fluid movie-img">
              <div class="container">
              <p class="text-white m-0 "> {{cardMovie.title}}</p>
              <p class="text-white fp-1"> {{cardMovie.year}} </p>
            </div>

              <div class="movie-overlay">
                <p class="mt-5">{{cardMovie.rating}}</p>
                <p> {{ cardMovie.genres }} </p>
                <a class="btn btn-primary" routerLink="/watch/{{cardMovie.id}}" > watch now</a>
              </div>
          </div>
      </div>
      <!-- Movie Card 3 -->
       <!--  Popular Downloads -->
       <h3>Popular Downloads Movies</h3><hr>
       <div *ngFor="let cardMovie of PopularMovies" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="movie-card" >
              <img [src]="cardMovie.medium_cover_image" alt="Movie Poster" class="img-fluid movie-img">
              <div class="container">
              <p class="text-white m-0 "> {{cardMovie.title}}</p>
              <p class="text-white fp-1"> {{cardMovie.year}} </p>
            </div>

              <div class="movie-overlay">
                <p class="mt-5">{{cardMovie.rating}}</p>
                <p> {{ cardMovie.genres }} </p>
                <a class="btn btn-primary" routerLink="/watch/{{cardMovie.id}}" > watch now</a>
              </div>
          </div>
      </div>

        <!-- show  all movies  -->
      <!-- <div *ngFor="let cardMovie of Movies" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="movie-card" >
              <img [src]="cardMovie.medium_cover_image" alt="Movie Poster" class="img-fluid movie-img">
              <div class="container">
              <p class="text-white m-0 "> {{cardMovie.title}}</p>
              <p class="text-white fp-1"> {{cardMovie.year}} </p>
            </div>

              <div class="movie-overlay">
                <p class="mt-5">{{cardMovie.rating}}</p>
                <p> {{ cardMovie.genres }} </p>
                <a class="btn btn-primary" routerLink="/watch/{{cardMovie.id}}" > watch now</a>
              </div>
          </div>
      </div> -->

  </div>
</div>
