<div class="bg-dark text-white">
  <div class="row">
    <!-- movie image -->
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="movie-card ms-5">
        <img
          [src]="movieToWatch.medium_cover_image"
          alt="Movie Poster"
          class="img-fluid movie-img"
        />
        <div class="d-grid gap-2 mt-1">
          <a class="btn btn-info btn-block">Watch Now</a>
          <a class="btn btn-info btn-block">Watch Now</a>
        </div>
      </div>
    </div>
    <!-- movie title and details -->
    <div class="container col-lg-3 col-md-6 d-none d-md-block">
      <h1 class="d-lg-none text-start text-white">
        {{ movieToWatch.title_english }}
      </h1>

      <h2 class="d-none d-lg-block text-start text-white">
        {{ movieToWatch.title_english}}
      </h2>
      <p class="text-start text-white fp-1">{{ movieToWatch.year }}</p>
      <p class="text-start text-white fp-1">{{ movieToWatch.genres }}</p>
      <p class="text-start text-white fp-1">{{ movieToWatch.language }}</p>
      <p class="text-start text-white fp-1"><i class="fab fa-imdb"></i> {{ movieToWatch.rating }}</p>
    </div>
    <!-- similar movies -->
    <div class="d-none d-lg-flex similar-card col-3">
      <h5 style="color: white; width: 100%; text-align: center">
        Similar Movies
      </h5>
      <div *ngFor="let similarMovie of sugestionMovies">
        <a routerLink="/watch/{{ similarMovie.id }}">
          <img
            [src]="similarMovie.medium_cover_image"
            alt="Movie Poster"
            class="img-fluid similarMovie-img  mb-3"
          />
        </a>
      </div>
    </div>

  
<!-- tralier -->
      <div class=" row " >
        <!-- video -->
      <div class="youtube-player p-0  col-lg-4 col-md-8 col-sm-11 ">
        <iframe class="video-frame"
          [src]="videoUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
    </div>
    <!-- image  -->
    <img class="img-fluid tralier-image d-none d-lg-block col-4 " [src]="movieToWatch.background_image_original" alt="movie background image">
    <img class="img-fluid tralier-image d-none d-lg-block col-4" [src]="movieToWatch.large_cover_image" alt="movie background image">

  </div>
  <div class="row mt-5">
    <div class="col-8" >
      <h4>Plot summary</h4>
      <p class="p-text-color">{{movieToWatch.description_full}}</p>
    </div>
    <div class="col-4" >
      <h4>genres</h4>
      <p *ngFor="let gener of movieToWatch.genres" class="p-text-color">{{gener}}</p>
    </div>
  </div>

</div>
